<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Supervisor</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/oims.css">
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md" style="height:100px;background-color:#7395AE;">
        <div class="container-fluid">
            <a class="navbar-brand" id="oims" href="#" style="font-size:36px;">Office Inventory Management System</a>
        </div>
    </nav>
    <div class="nav nav-tabs" style="position:sticky;top:0px;width:100%;background-color:#5D5C61;">
        <a href="admin-inventory.html"><button class="button-link" type="submit">Inventaris</button></a>
        <a href="admin-supervisor.html"><button class="button-active" type="submit">Supervisor</button></a>
        <a href="admin-employee.html"><button class="button-link" type="submit">Pegawai</button></a>
        <a href="admin-request.html"><button class="button-link" type="submit">Daftar Permintaan</button></a>
        <a href="../login.html"><button class="button-logout" type="submit">Logout</button></a>
    </div>
    <div class="main-table">
        <div class="row" style="margin-top:10px;">
            <h1 style="margin-left:15px;">Daftar supervisor</h1>
            <input id="searchSpv" type="search" class="search" placeholder="Cari" style="margin-left:375px;"/>
            <a href="admin-add-supervisor.html" class="btn btn-primary" style="margin-left:25px;margin-top:5px;background-color:#000000;height:40px;">Tambah</a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width:100px;">No</th>
                        <th style="width:400px;">Nama</th>
                        <th style="width:150px;">Hp/Telp</th>
                        <th style="width:150px;">Email</th>
                        <th style="width:300px;">Opsi</th>
                    </tr>
                </thead>
                <tbody id="table-content">
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>