<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supervisor - Daftar Permintaan</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/oims.css">
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md" style="height:100px;background-color:#7395AE;">
        <div class="container-fluid">
            <a class="navbar-brand" id="oims" href="#" style="font-size:36px;">Office Inventory Management System</a>
        </div>
    </nav>
    <div class="nav nav-tabs" style="position:sticky;top:0px;width:100%;background-color:#5D5C61;">
        <a href="supervisor-request.html"><button class="button-active" type="submit">Daftar Permintaan</button></a>
        <a href="../login.html"><button class="button-logout" type="submit" style="position: absolute; right: 0;">Logout</button></a>
    </div>
    <div class="main-table">
        <div class="row" style="margin-top:10px;">
            <h1 style="margin-left:15px;">Daftar permintaan</h1>
            <input id="searchReq" type="search" class="search" placeholder="Cari" style="margin-left:455px;"/>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width:100px;">No</th>
                        <th style="width:500px;">Deskripsi</th>
                        <th style="width:250px;">Status</th>
                        <th style="width:250px;">Opsi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td style="text-align:left;">Mouse 1, Keyboard 1</td>
                        <td>PENDING</td>
                        <td><button id="detailreq" type="submit" style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;color:#007bff"><span style="text-decoration: underline;">Detail</span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Form Request</h2>
            <h6 style="margin-left:120px">Direquest oleh  : Employee (ID)</h6>
            <h6 style="margin-left:120px">Tanggal request : DD/MM/YYYY</h6>
            <div class="table-responsive" style="margin-top:10px;background-color:#ffffff;width:800px;margin-right:auto;margin-left:auto;">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:50px;text-align:center;">No</th>
                            <th style="width:500px;text-align:center;">Nama Barang</th>
                            <th style="width:100px;text-align:center;">Harga</th>
                            <th style="width:100px;text-align:center;">Jumlah</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center;">
                        <tr>
                            <td>1</td>
                            <td style="text-align:left;">Keyboard</td>
                            <td>100.000</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 style="margin-left:700px;">Total harga: 150.000</h4>
            <div style="margin-top:25px;">
                <a href="Supervisor - Daftar Request.html"><button class="btn btn-primary" id="acc" type="submit" style="margin-left:700px;width:100px;background-color:#000000;">Rejected</button></a>
                <a href="Supervisor - Daftar Request.html"><button class="btn btn-primary" id="acc" type="submit" style="margin-left:10px;width:100px;background-color:#000000;">Accepted</button></a>
            </div>
        </div>
    </div>
</body>

</html>