tr:nth-child(even) {
    background-color: #f2f2f2;
}
th{
    background-color: #938E94;
}
table{
    text-align:center;
}

.button-link {
    background-color: #5D5C61;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 20px;
    text-align:center;
    width: 200px;
}
.button-link:hover {
    background-color: #777777;
}
.button-active {
    background-color: #557A95;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 20px;
    text-align:center;
    width: 200px;
}
.button-active:hover {
    background-color: #777777;
}
.button-logout {
    background-color: #000000;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 20px;
    text-align:center;
    width: 100px;
    position: absolute; right: 0;
}
.search{display:block;margin-left:780px;
    margin-top:10px;
    width:200px;
    height:40px;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
    color:#495057;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    border-radius:.25rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.search::-ms-expand{
    background-color:transparent;
    border:0
}

.search:focus{
    color:#495057;
    background-color:#fff;
    border-color:#80bdff;
    outline:0;
    box-shadow:0 0 0 .2rem rgba(0,123,255,.25)
}

.search::-webkit-input-placeholder{
    color:#6c757d;opacity:1
}

.search::-moz-placeholder{
    color:#6c757d;opacity:1
}

.search:-ms-input-placeholder{
    color:#6c757d;opacity:1
}

.search::-ms-input-placeholder{
    color:#6c757d;opacity:1
}

.search::placeholder{
    color:#6c757d;opacity:1
}

.search:disabled,.search[readonly]{
    background-color:#e9ecef;opacity:1
}select.search:not([size]):not([multiple]){
    height:calc(2.25rem + 2px)
}select.search:focus::-ms-value{
    color:#495057;
    background-color:#fff
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    position: absolute;
    right: 0px;
    margin-right: 10px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}